<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
      <span translate>Hello world !</span>
    </h1>

    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <form (ngSubmit)="save()" novalidate>
            <div class="form-group">
              <label class="d-block">
                <input type="text" [(ngModel)]="workLocation"/>
              </label>
            </div>
            <button id="save" class="save-button" (click)="save()">Zoek</button>
          </form>
        </div>
      </div>
    </div>
    <app-loader [isLoading]="isLoading"></app-loader>
  </div>
</div>
