.jumbotron {
  color: #414141;
  padding: 1em 2em;
}

.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

h1 {
  margin-bottom: 1em;
}

.fa-home {
  margin-right: 1rem;
}

.fa-euro-sign {
  margin-right: 0.4rem;
}

.form-row {
  width: 95%;
  margin-bottom: 1.2rem;
}

.btn {
  width: 20%;
}

.card {
  padding: 1rem;
  margin-top: 2rem;
}

.houseImage {
  width: 100%;
  height: auto;
}

.houseType {
  font-weight: bold;
}

.durations {
  margin-top: 1rem;
}

.houseDurationGood,
.shorter {
  color: #a3c791;
}

.houseDurationOk {
  color: #c78857;
}

.houseDurationBad {
  color: #c7494e;
}

.housePrice {
  font-size: 1.2rem;
}

.houseDetails {
  margin-top: -0.5rem;
  font-size: 0.8rem;
}

.houseInfo {
  font-size: 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6; /* number of lines to show */
  line-height: 1.5; /* fallback */
  max-height: 8.8em; /* fallback */
}

.houseLink {
  font-size: 0.7rem;
}

.form-multi-select {
  display: block;
  background: white;
  width: 100%;
  border-radius: 0.25rem;
}

.multiselect-dropdown .dropdown-btn {
  border: none;
}

::ng-deep {
  .custom-slider .ng5-slider .ng5-slider-selection {
    background: #337ab7;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    background-color: #337ab7;
  }

  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: #337ab7;
  }
}

.transport-modes {
  text-align: center;
  font-size: 1.6em;
  color: gray;
}

.transport-modes > :first-child {
  color: black;
}

.transport-modes .faster {
  color: #10ab10;
}

.transport-modes > div {
  cursor: pointer;
}

.transport-modes > div:hover {
  box-shadow: 0 0 3px gray;
}

.fastest-indicator {
  margin-top: -12px;
}
