.jumbotron {
  color: #414141;
  padding: 1em 2em;
}

.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

h1 {
  margin-bottom: 1em;
}

.fa-home {
  margin-right: 1rem;
}

.fa-euro-sign {
  margin-right: 0.4rem;
}

.form-row {
  width: 95%;
  margin-bottom: 1rem;
}

.btn {
  width: 20%;
}

.card {
  padding: 1rem;
  margin-top: 2rem;
}

.houseImage {
  width: 100%;
  height: auto;
}

.houseType {
  font-weight: bold;
}

.houseDurationGood {
  color: #a3c791;
}

.houseDurationOk {
  color: #c78857;
}

.houseDurationBad {
  color: #c7494e;
}

.houseDetails,
.housePrice {
  margin-top: -0.5rem;
  font-size: 0.8rem;
}

.houseInfo {
  font-size: 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6; /* number of lines to show */
  line-height: 1.5; /* fallback */
  max-height: 8.8em; /* fallback */
}
