<div class="container-fluid">
  <div class="jumbotron">
    <h1>
      <i class="fa fa-home"></i>
      <span translate>Find houses near your work place</span>
    </h1>

    <div class="form-group">
      <label class="form-row">
        <span translate>Location</span>
        <input type="text" [(ngModel)]="workLocation" [ngModelOptions]="{standalone: true}"
               class="form-control locationInput" (change)="getSuggestions()" required/>
      </label>
      <label class="form-row durationRow">
        <span translate>Maximum travel time (minutes)</span>
        <input type="number" [ngModel]="maxDuration" class="form-control durationInput" required/>
      </label>
      <button class="btn btn-primary" type="submit">
        <span translate>Search</span>
      </button>
    </div>

    <div class="card" *ngFor="let house of houses">
      <p>{{house.Type}} {{house.Price}}<i class="fa fa-euro-sign"></i></p>
      <p>{{house.City}} ({{house.PostalCode}})</p>
      <p>{{house.Bedrooms}} bed.</p>
      <p>{{house.Info}}</p>
    </div>
  </div>
</div>
